/A.class
/ArithmeticOperator.class
/AssignmentIncDecOperator.class
/BitOperator.class
/CircleArea.class
/CoffeePrice.class
/Grading.class
/LogicalOperator.class
/ScannerEx.class
/SuccessOrFail.class
/TypeConversion.class
/date.class
/numberreading.class
/practice.class
/switch98.class
/study.class
